<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<form action="/posts" method="post">
    <div class="form-group">
        <label for="exampleFormControlInput1">Post Title</label>
        <input th:if="${editPost}" type="text" class="form-control" name="title"  th:value="${post.getTitle()}">
        <input th:if="${!editPost}" type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="">
    </div>
    <textarea th:if="${!editPost}" class="form-control" name="body" id="exampleFormControlTextarea1" rows="3" placeholder="Write your post here..."></textarea>
    <textarea th:if="${editPost}" class="form-control" name="body"  rows="3" placeholder="" th:text="${post.getBody()}"></textarea>

    <input th:if="${editPost}" type="hidden" class="form-control" name="id"  th:value="${post.getId()}">
    <input th:if="${!editPost}" type="hidden" class="form-control" name="id"  th:value="0">

    <button type="submit" class="btn btn-primary">Submit Post</button>

</form>


</body>
</html>