<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<div class="card text-center" style="width: 80%;" th:if="${post}">\
    <div class="card-body" >
        <h2 class="card-title" th:text="${post.getTitle()}"/>
        <p class="card-text" th:text="${post.getBody()}"/>
        <p th:if="${post.getOwner()}" class="card-text" th:text="${post.getOwner().getEmail()}"/>
        <form class="float-left" method="post" action="/posts/create">
            <input type="hidden" name="postId" th:value="${post.getId()}">
            <input type="hidden" name="action" value="edit">
            <button type="submit" class="btn btn-primary">Edit Post</button>
        </form>
        <form class="float-right" method="post" action="/posts/create">
            <input type="hidden" name="postId" th:value="${post.getId()}">
            <input type="hidden" name="action" value="delete">
            <button type="submit" class="btn btn-primary">Delete Post</button>
        </form>
    </div>
</div>

</body>
</html>