
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    /* ... */
    #postsColumns{
        column-count: 1;

    }
    .card{
        width: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    /* ... */
    #postsColumns{
        column-count: 2;

    }
    .card{
        width: 45%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    /* ... */
    #postsColumns{
        column-count: 3;

    }
    .card{
        width: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    /* ... */
    #postsColumns{
        column-count: 4;

    }
    .card{
        width: 23%;
    }
}

.card-columns{
    padding: 20px;
}

#postForm{
    padding:20px;
    height: calc(100% - 80px);
}

#postForm form{
    height: 100%;
}


#postContainer{
    padding:20px;
    height: 100%;

}
#postForm .card-group{
    height: 65%
}
.card-group{
    height: 50%;
}


#blogImages .card{
    height: 100%
}
#blogImages img{
    max-height: 100%;
    object-fit: contain;
}
/*.image{*/
/*    height: 100%;*/
/*    display:flex;*/
/*}*/
/*.images img{*/
/*    max-height: 100%;*/
/*    align-items: center;*/
/*}*/
#postContainer>.card{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

html{
    height: 100%;
}
body{
    height: 100%;
}
#adImages{
    justify-content: space-evenly;
}
#adImages .card{
    max-width: 50%;
    min-width: 300px;
    padding: 10px;
    height: 95%;
    flex-grow: 0
}

#adImages img{
    max-height: 70%;
    object-fit: contain;
}

#adImagesEdit{
    justify-content: space-evenly;
}
#adImagesEdit .card-body{
    position: absolute;
    bottom: 5px;
    left: 12.5%;
    width: 75%;
    background-color: rgba(255,255,255,.7)
}
#adImagesEdit .card{
    max-width: 50%;
    min-width: 300px;
    padding: 10px;
    height: 95%;
    flex-grow: 0
}

#adImagesEdit img{
    max-height: 100%;
    object-fit: contain;
}

.blogContent{
    position: relative
}

.blogDate{
    position: absolute;
    top: 2px;
    left: 2px;
}

.blogTime{
    position: absolute;
    top: 2px;
    right: 2px;
}



