
/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    /* ... */
    #postsColumns{
        column-count: 1;

    }
    .card{
        width: 90%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    /* ... */
    #postsColumns{
        column-count: 2;

    }
    .card{
        width: 45%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    /* ... */
    #postsColumns{
        column-count: 3;

    }
    .card{
        width: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    /* ... */
    #postsColumns{
        column-count: 4;

    }
    .card{
        width: 23%;
    }
}

.card-columns{
    padding: 20px;
}

#postForm{
    padding:20px;
    height: 100%;
}

#postContainer{
    padding:20px;
    height: 100%;

}
.images{
    display:flex;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
}
#postContainer .card{
    width: 80%;
    margin-left: auto;=y
    margin-right: auto;
}

html{
    height: 100%;
}
body{
    height: 100%;
}

#adImages .card{
    max-width: 50%;
    min-width: 300px;
    margin: 20px;
    max-height: 50%;
}



