<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Try to guess the number on the next dice roll!</h1>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="1" class="field" />
        <button>Guess 1</button>
    </form>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="2" class="field" />
        <button>Guess 2</button>
    </form>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="3" class="field" />
        <button>Guess 3</button>
    </form>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="4" class="field" />
        <button>Guess 4</button>
    </form>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="5" class="field" />
        <button>Guess 5</button>
    </form>
    <form action="/rolldice/n" method="post">
        <input type="hidden" name="guess" value="6" class="field" />
        <button>Guess 6</button>
    </form>
</body>
</html>